
body {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
	width: 100%;
	overflow-x:hidden;
	overflow-y:hidden;
}

.divclass {
  background: #415665;
  height: 50px;
  width:200px;
  border-radius: 15px;
  padding:20px;
  font-size:22px;
  color:#fff;   
}